body {
    padding: 0;
    margin: 0;
    background-color: #002c2b;
    overflow: hidden;
		user-select: none;
		-webkit-user-select: none;
}



#main {
    font-family: "Cascadia Code", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #fff;
}

#nav {
  position: fixed;
  width: 95%;
  height: 30% ;
  background: #000;
  border-radius: 40px;
	margin: auto;
  margin-bottom: 30px;
	bottom: 0;
  left: 0;
  right: 0;
	box-shadow: 0 -10px 30px 5px rgba(0, 0, 0, 0.35);
	transition: transform 0.8s cubic-bezier(0.25, 1.5, 0.5, 1);
}